<script type="text/javascript">
    function resizeMap() {
        var map = $("#map").data("kendoMap");
        map.resize();
        map.center([50.000, 0]);
    }

    function onShow(e) {

        var PHMeasures = $("#PHMeasures").data("kendoChart");
        var TempMeasures = $("#TempMeasures").data("kendoChart");
        var ORPMeasures = $("#ORPMeasures").data("kendoChart");
        var DissolvedOxyMeasures = $("#DissolvedOxyMeasures").data("kendoChart");

        var OptionList = $("#OptionList").data("kendoListView");

        var currentProductionUnitLat = this.marker.options.location[0];
        var currentProductionUnitLong = this.marker.options.location[1];

        $.ajax({
            url: "@Url.Action("GetProductionUnitDetail", "Home")",
            dataType: "json",
            data: { SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong },
        type: "POST",
        success: function (response) {
            $("#PioneerCitizenName").text('NAME: ' + response.PioneerCitizenName);
            $("#PioneerCitizenNumber").text('NUMBER: ' + response.PioneerCitizenNumber);
            $("#ProductionUnitType").text('TYPE: ' + response.ProductionUnitType);
            $("#ProductionUnitVersion").text('VERSION: ' + response.ProductionUnitVersion);
            $("#ProductionUnitStartDate").text('START DATE: ' + kendo.toString(kendo.parseDate(response.ProductionUnitStartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy'));            

            if (response.PicturePath === null)
            {
                $("#ProductionUnitPicture").hide();
                $("#PerfChart").hide();  
            }
            else
            {     
                $("#ProductionUnitPicture").attr("src", "/Content/Pictures/" + response.PicturePath);
                $("#ProductionUnitPicture").show();
                $("#PerfChart").show();
            }
            $("#ProductionUnitPicture").attr("src", "/Content/Pictures/" + response.PicturePath);
        }
    });
        
        PHMeasures.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });
        TempMeasures.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });
        ORPMeasures.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });
        DissolvedOxyMeasures.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });

        OptionList.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });
    }

    function onPHMeasuresDataBound() {
        var PHMeasures = $("#PHMeasures").data("kendoChart");

        var items = PHMeasures.dataSource.data().length;
        $("#PHMeasureNoData").toggle(items === 0);
    }

    function onTempMeasuresDataBound() {
        var TempMeasures = $("#TempMeasures").data("kendoChart");

        var items = TempMeasures.dataSource.data().length;
        $("#TempMeasureNoData").toggle(items === 0);
    }

    function onORPMeasuresDataBound() {
        var ORPMeasures = $("#ORPMeasures").data("kendoChart");

        var items = ORPMeasures.dataSource.data().length;
        $("#ORPMeasureNoData").toggle(items === 0);
    }

    function onDissolvedOxyMeasuresDataBound() {
        var DissolvedOxyMeasures = $("#DissolvedOxyMeasures").data("kendoChart");

        var items = DissolvedOxyMeasures.dataSource.data().length;
        $("#DissolvedOxyNoData").toggle(items === 0);
    }

    function onShapeCreated(e) {
        var shape = e.shape;
        var users = shape.dataItem.properties.users;
        if (users) {
            var color = scale(users).hex();
            shape.options.fill.set("color", color);
        }
    }

    function onShapeMouseEnter(e) {
        e.shape.options.set("fill.opacity", 1);
    }

    function onShapeMouseLeave(e) {
        e.shape.options.set("fill.opacity", 0.7);
    }


</script>

<script type="text/x-kendo-tmpl" id="templateOption">
    <div class="option">
        <span>&bull; #:name#</span>
    </div>
</script>

<div id="main-section-header" class="row">
    <h2 id="title-pioneer" class="col-xs-3">Pioneer Citizen Network Preview</h2>
    <div style="clear:both;"></div>
</div>

<div id="pioneer-network" class="main-section-content row">
    <div id="map-wrapper" class="row">
        <div id="map-details" class="col-xs-4">
            <div>
                <h2>TOTAL CONNECTED: 20</h2>
                <h2>TOTAL EST. PROD. PER MONTH: 450kg</h2>
                <h2>TOTAL CO2 NOT RELEASED PER MONTH: 57kg</h2>
            </div>
            <br/>
            <h2 id="PioneerCitizenName"></h2>
            <div id="PioneerCitizenNumber"><span></span></div>
            <div id="ProductionUnitType"><span></span></div>
            <div id="ProductionUnitVersion"><span></span></div>
            <div id="ProductionUnitStartDate"><span></span></div>
            <h3 class="section-header">OPTIONS</h3>           
            @(Html.Kendo().ListView<myfoodapp.Hub.Models.Option>()
            .Name("OptionList")
            .TagName("div")
            .ClientTemplateId("templateOption")
            .DataSource(dataSource => dataSource
              .Read(read => read.Action("Option_Read", "Home"))
            )
            )
        </div>
        <div id="map-container" class="col-xs-8">
        @model myfoodapp.Hub.Models.Map

         @(Html.Kendo().Map()
        .Name(Model.Name)
        .Center(Model.CenterLatitude, Model.CenterLongitude)
        .Zoom(Model.Zoom)
        .Zoomable(false)
        .Layers(layers =>
                {
                    layers.Add()
                        .Style(style => style
                            .Fill(fill => fill.Color("#018001").Opacity(0.7))
                            .Stroke(stroke => stroke.Color("#FFFFFF"))
                        )
                        .Type(MapLayerType.Shape)
                        .DataSource(dataSource => dataSource
                            .GeoJson()
                            .Read(read => read.Url(Url.Content("~/Content/countries.geo.txt")))
                        );
                })
        .Markers(markers =>
        {
            foreach (var marker in Model.Markers)
            {
                markers.Add()
                .Location(marker.latlng)
                .Shape(marker.shape)
                .Tooltip(t => t.ShowOn(TooltipShowOnEvent.MouseEnter))
                .Tooltip(t => t.Events(e => e.Show("onShow")))
                .Title(marker.name);               
            }
        })
        .Events(events => events
                          .ShapeCreated("onShapeCreated")
                          .ShapeMouseEnter("onShapeMouseEnter")
                          .ShapeMouseLeave("onShapeMouseLeave")
            )
        )
        </div>
</div>

<div id="statsContainer" class="row">
        <div id="pHContainer" class="col-xs-3 stats-graph">
            <h3 class="section-header">pH - Last 24h</h3>
            <span id="pHLabel"></span>
            <div class="sparkline-container">
@(Html.Kendo().Chart<myfoodapp.Hub.Models.MeasureViewModel>()
            .Name("PHMeasures")
            .Theme("metro")
            .AutoBind(false)
            .Legend(legend => legend
                .Visible(false)
                .Position(ChartLegendPosition.Top)
            )
            .Events(e => e.DataBound("onPHMeasuresDataBound"))
            .ChartArea(ch => ch.Background("#eeeeee"))
            .DataSource(ds => ds
                .Read(read => read.Action("PHMeasure_Read", "Home")))
                            .Series(series =>
                            {
                                series.Line(model => model.value, categoryExpression: model => model.captureDate).Color("#018001") ;
                            })
            .HtmlAttributes(new { @style = "height: 100px;" })
            .CategoryAxis(axis => axis
                .Date()
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Width(0))
                .Labels(l => l.Visible(false))
            )
            .ValueAxis(axis => axis.Numeric()
                .MajorUnit(1)
                .MajorTicks(x => x.Visible(false))
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Visible(false))
                .Labels(l => l.Visible(false))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= kendo.toString(category, 't')# : #=kendo.format('{0}', data.value)#"))
 )
                <div id="PHMeasureNoData" class="overlay">
                    <div>No data available</div>
                </div>
            </div>
        </div>
        <div id = "TempContainer" class="col-xs-3 stats-graph">
            <h3 class="section-header">Temperature - Last 24h</h3>
            <span id = "TemperatureLabel"></span>
            <div class="sparkline-container">
@(Html.Kendo().Chart<myfoodapp.Hub.Models.MeasureViewModel>()
            .Name("TempMeasures")
            .Theme("metro")
            .AutoBind(false)
            .Legend(legend => legend
                .Visible(false)
                .Position(ChartLegendPosition.Top)
            )
            .Events(e => e.DataBound("onTempMeasuresDataBound"))
            .ChartArea(ch => ch.Background("#eeeeee"))
            .DataSource(ds => ds
                .Read(read => read.Action("TempMeasure_Read", "Home")))
                            .Series(series =>
                            {
                                series.Line(model => model.value, categoryExpression: model => model.captureDate).Color("#018001");
                            })
            .HtmlAttributes(new { @style = "height: 100px;" })
            .CategoryAxis(axis => axis
                .Date()
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Width(0))
                .Labels(l => l.Visible(false))
            )
            .ValueAxis(axis => axis.Numeric()
                .MajorUnit(1)
                .MajorTicks(x => x.Visible(false))
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Visible(false))
                .Labels(l => l.Visible(false).Format("{0}°C"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= kendo.toString(category, 't')# : #=kendo.format('{0}°C', data.value)#"))
)
                <div id="TempMeasureNoData" class="overlay"><div>No data available</div></div>
            </div>
        </div>
        <div id="ORPContainer" class="col-xs-3 stats-graph">
            <h3 class="section-header">ORP - Last 24h</h3>
            <span id="ORPLabel"></span>
            <div class="sparkline-container">
@(Html.Kendo().Chart<myfoodapp.Hub.Models.MeasureViewModel>()
            .Name("ORPMeasures")
            .Theme("metro")
            .AutoBind(false)
            .Legend(legend => legend
                .Visible(false)
                .Position(ChartLegendPosition.Top)
            )
            .Events(e => e.DataBound("onORPMeasuresDataBound"))
            .ChartArea(ch => ch.Background("#eeeeee"))
            .DataSource(ds => ds
                .Read(read => read.Action("ORPMeasure_Read", "Home")))
                            .Series(series =>
                            {
                                series.Line(model => model.value, categoryExpression: model => model.captureDate).Color("#018001");
                            })
            .HtmlAttributes(new { @style = "height: 100px;" })
            .CategoryAxis(axis => axis
                .Date()
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Width(0))
                .Labels(l => l.Visible(false))
            )
            .ValueAxis(axis => axis.Numeric()
                .MajorUnit(1)
                .MajorTicks(x => x.Visible(false))
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Visible(false))
                .Labels(l => l.Visible(false).Format("{0}mV"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= kendo.toString(category, 't')# : #=kendo.format('{0}mV', data.value)#"))
)
                <div id="ORPMeasureNoData" class="overlay"><div>No data available</div></div>
            </div>
        </div>
        <div id="DissolvedOxyContainer" class="col-xs-3 stats-graph">
            <h3 class="section-header">Dissolved Oxygen - Last 24h</h3>
            <span id="DissolvedOxyLabel"></span>
            <div class="sparkline-container">
@(Html.Kendo().Chart<myfoodapp.Hub.Models.MeasureViewModel>()
            .Name("DissolvedOxyMeasures")
            .Theme("metro")
            .AutoBind(false)
            .Legend(legend => legend
                .Visible(false)
                .Position(ChartLegendPosition.Top)
            )
            .Events(e => e.DataBound("onDissolvedOxyMeasuresDataBound"))
            .ChartArea(ch => ch.Background("#eeeeee"))
            .DataSource(ds => ds
                .Read(read => read.Action("DissolvedOxyMeasure_Read", "Home")))
                            .Series(series =>
                            {
                                series.Line(model => model.value, categoryExpression: model => model.captureDate).Color("#018001");
                            })
            .HtmlAttributes(new { @style = "height: 100px;" })
            .CategoryAxis(axis => axis
                .Date()
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Width(0))
                .Labels(l => l.Visible(false))
            )
            .ValueAxis(axis => axis.Numeric()
                .MajorUnit(1)
                .MajorTicks(x => x.Visible(false))
                .MajorGridLines(m => m.Visible(false))
                .Line(l => l.Visible(false))
                .Labels(l => l.Visible(false).Format("{0}%"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= kendo.toString(category, 't')# : #=kendo.format('{0}mg/L', data.value)#"))
)
                <div id="DissolvedOxyNoData" class="overlay"><div>No data available</div></div>
            </div>
        </div>
</div>

<div id="performanceHealthAnalysis">
    <div id="picturesContainer" class="col-xs-4">
        <h3 class="section-header">On-site Pictures</h3>
        <img id="ProductionUnitPicture" width="120" height="80"/>
    </div>
    <div id="performanceHealthAnalysisContainer" class="col-xs-4">
        <h3 class="section-header">Performance and Health Analysis</h3> 
        @*@(Html.Kendo().Chart()
            .Name("PerfChart")
            .Legend(legend => legend
                .Visible(false)
                .Position(ChartLegendPosition.Top)
            )
            .ChartArea(ch => ch.Background("#eeeeee"))
            .Series(series =>
            {
                series.Column(new double[] { 23, 39, 27 }).Color("#018001");
            })
            .HtmlAttributes(new { @style = "height: 150px;" })
            .CategoryAxis(axis => axis
                .Categories("Jul", "Agu", "Sep")
                .MajorGridLines(m => m.Visible(true))
                .Line(l => l.Width(0))
                .Labels(l => l.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Line(line => line.Visible(false))
                .MajorTicks(x => x.Visible(false))
                .MajorGridLines(m => m.Visible(true))
                .Line(l => l.Visible(false))
                .Labels(l => l.Visible(false))
             )
            .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
            .Template("#= category #: #= value # kg")
        )
        )*@
    </div>

</div>

<style>

    #OptionList {
        background: transparent;
        border-color: transparent;
        color: #333      
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-map .k-marker-red-marker {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoMDSM0TTMGvAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAHUlEQVQ4y2M8Iy7OQC5gYqAAjGoe1TyqeVQz5ZoBCogBIhwXVIUAAAAASUVORK5CYII=');
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
    }

    .k-map .k-marker-green-marker {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoMDSQlaMKwiQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAHUlEQVQ4y2OUSFNnIBcwMVAARjWPah7VPKqZcs0AdTwAzRyc6rgAAAAASUVORK5CYII=');
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
    }

    .k-tooltip-content {
        background-color:#018001;
        stroke:black;  
    }

    .k-widget.k-tooltip {
        background-color:#018001;
        stroke:black;  
    }

    .k-loading-mask {
        opacity: 0;
    }

    /*.k-map .k-marker-green-marker .k-state-hover:hover {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgMTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwIDEwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxjaXJjbGUgZmlsbD0iI0ZGMjUwMCIgY3g9IjUiIGN5PSI1IiByPSI1Ii8+DQo8L3N2Zz4NCg==');
        width: 20px;
        height: 20px;
    }*/

</style>




